# Deply n8n with external Postgres database

apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n

  template:
    metadata:
      labels:
        app: n8n

    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n:1.118.2

          securityContext:
            allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: n8n-configmap

          ports:
            - containerPort: 3008
              protocol: TCP

          volumeMounts:
            - mountPath: /home/node/.n8n
              name: n8n-data

      restartPolicy: Always

      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-data
